#background {
    width: 1000px;
    height: 500px;
    display: block;
    background-size: cover;
    background-position-x: 0;
    background-position-y: center;
    background-image: url(../img/city.jpg);
    position: relative;
}

#background.city {
    background-image: url('../img/city.jpg');
    background-size: cover;
}

#background.mars {
    background-image: url('../img/mars.jpg');
    background-size: cover;
}


#background.country {
    background-image: url('../img/country.jpg');
    background-size: cover;
}

#cat {
    width: 230px;
    height: 110px;
    display: block;
    background-position-x: 0;
    background-position-y: 0;
    background-image: url(../img/cat.png);
    position: absolute;
    bottom: 0;
    left: 385px;
    background-size: 680px;
}

#background.mars #cat{
bottom: 81px;
}